<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chi tiết sản phẩm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="detail-style.css">
    <link rel="shortcut icon" type="image/webp" href="img-pro/pic5.webp">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" /> 
  </head>
  <body>
    
    <div class = "card-wrapper">
      <div class = "card">
        <!-- card left -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img src = "img/pro5.png" alt = "shoe image">
              <img src = "img-pro/xr1.jpg" alt = "shoe image">
              <img src = "img-pro/xr2.jpg" alt = "shoe image">
              <img src = "img-pro/xr3.jpg" alt = "shoe image">
            </div>
          </div>
          <div class = "img-select">
            <div class = "img-item">
              <a href = "#" data-id = "1">
                <img src = "img/pro5.png" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "2">
                <img src = "img-pro/xr1.jpg" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "3">
                <img src = "img-pro/xr2.jpg" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "4">
                <img src = "img-pro/xr3.jpg" alt = "shoe image">
              </a>
            </div>
          </div>
        </div>
        <!-- card right -->
        <div class = "product-content">
          <h2 class = "product-title">Đồ chơi xương rồng nhún nhảy</h2>
          <a href = "main.html" class = "product-link">Quay lại cửa hàng</a>
          <div class = "product-rating">
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star-half-alt"></i>
            <span>4.7(21)</span>
          </div>

          <div class = "product-price">
            <p class = "last-price">Giá cũ: <span>100.000đ</span></p>
            <p class = "new-price">Giá mới: <span>95.000đ (5%)</span></p>
          </div>

          <div class = "product-detail">
            <h2>Thông tin sản phẩm: </h2>
            <ul>
              <!-- <li>Màu: <span>Xám</span></li> -->
              <li>Tình trạng: <span>còn</span></li>
              <li>Loại: <span>Đồ chơi</span></li>
              <li>Khu vực vận chuyển: <span>Toàn quốc</span></li>
              <li>Vận chuyển : <span>Miễn phí</span></li>
            </ul>
          </div>

          <div class = "purchase-info">
            <input type = "number" min = "0" value = "1">
            <button type = "button" class = "btn">
              Thêm vào giỏ hàng <i class = "fas fa-shopping-cart"></i>
            </button>
            <button type = "button" class = "btn">Đối chiếu</button>
          </div>

          <div class = "social-links">
            <p>Chia sẻ ngay: </p>
            <a href = "https://www.facebook.com/">
              <img src="img/facebook1.png">
            </a>
            <a href = "https://twitter.com/">
              <img src="img/twitter.png">
            </a>
            <a href = "https://www.instagram.com/">
              <img src="img/instagram.png">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="related">
      <h2>Sản phẩm khác</h2>
      <div class="row">
        <div class="columns">
          <div class="items">
            <img src="img-pro/pic1.webp" alt="">
            <div class="details">
              <p>Bear</p>
              <p>Giá: 30.000Đ</p>
              <a href="detail.html">Mua ngay</a>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="items">
            <img src="img/pro1.png" alt="">
            <div class="details">
              <p>Đồ chơi hải tặc</p>
              <p>Giá: 50.000Đ</p>
              <a href="detail1.html">Mua ngay</a>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="items">
            <img src="img/pro2.png" alt="">
            <div class="details">
              <p>Đồ chơi cá sấu</p>      
              <p>Giá: 19.000Đ</p>
              <a href="detail2.html">Mua ngay</a>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="items">
            <img src="img/pro3.png" alt="">
            <div class="details">
              <p>Gà gặm kêu tiếng gà</p>             
              <p>Giá: 10.000Đ</p>
              <a href="detail3.html">Mua ngay</a>
            </div>
          </div>
        </div>
      </div>
</div>
    
    <script src="detail-js.js"></script>
  </body>
</html>