*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s; 
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s; 
}
header #toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 400px;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
    background: #fff;
    color: #2b1055;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: url(img/pic1.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.6s;
}
.content{
    max-width: 600px;
}
.content h2{
    color: #fff;
    font-size: 2.5em;

}
.content h2 span{
    color: #40c3ff;
    font-size: 1.2em;

}
.content p{
    font-size: 1.2em;
    color: #000;
    font-weight: 300;
}
.content a{
    position: relative;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    background: linear-gradient(90deg,#a445b2, #fa4299);
    color: #000;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
}

.sci{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 740px;
}
.sci li{
    list-style: none;
}
.sci li a
{
    position: relative;
    display: grid;
    place-items: center;
    width: 60px;
    height: 60px;
    text-decoration: none;
    border: 1px solid #fa4299 #fff;
    margin: 10px 0 0;
}
.sci li a:hover{
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}
.sci li a img{
    max-width: 45px;
    filter: invert(1);
}
/* product */

.product *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
 }
 .product img{
     width: 230px;
     display: block; margin-left: auto; margin-right: auto;
 }
 .product{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: #131313;
 }
 .product .container{
     position: relative;
 }
 .product .container .card{
     position: relative;
     width: 320px;
     height: 450px;
     background: #232323;
     border-radius: 20px;
     overflow: hidden;
 }
 .product .container .card::before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #9bdc28;
     clip-path: circle(150px at 80% 20%);
     transition: 0.5s ease-in-out;
 }
 .product .container .card:hover::before{
     clip-path: circle(300px at 80% -20%);
 }
 .product .container .card::after{
    content: 'Sanji';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
 }
 .product .container .card .imgBx{
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     z-index: 10000;
     width: 100%;
     height: 220px;
     transition: 0.5s;
 }
 .product .container .card:hover .imgBx{
     top: 0%;
     transform: translateY(0%);
 }
 .product .container .card:hover .imgBx img{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%) rotate(-25deg);
     width: 230px;
 }
 .product .container .card .contentBx{
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 100px;
     text-align: center;
     transition: 1s;
     z-index: 10;
 }
 .product .container .card:hover .contentBx{
    height: 210px;
 }
 .product .container .card .contentBx h2{
     position: relative;
     font-weight: 600;
     letter-spacing: 1px;
     color: #fff;
 }
 .product .container .card .contentBx .size{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 8px 20px;
     transition: 0.5s;
     opacity: 0;
     visibility: hidden;
 }
 .product .container .card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
 }

 .product .container .card .contentBx .size h3{
     color: #fff;
     font-weight: 300;
     text-transform: uppercase;
     letter-spacing: 2px;
     margin-right: 10px;
     font-weight: bold;
 }
 .product .container .card .contentBx .size span{
    text-transform: uppercase;
     text-align: center;
     line-height: 60px;
     font-weight: bold;
     display: inline-block;
     color: #fff;
     margin: 0 5px;
     letter-spacing: 2px;
     font-size: 150%;

 }
 /* .container .card .contentBx .color span:nth-child(2){
     background: #9bdc28;
 }
 .container .card .contentBx .color span:nth-child(3){
    background: #03a9f4;
}
.container .card .contentBx .color span:nth-child(4){
    background: #e91e63;
} */
.product .container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
.product .container .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}
/* search */
.sear{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.search{
    position: relative;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 3px #fa4299;
    overflow: hidden;
    
    right: -785px; 
}
.search.active{
    width: 360px;
}
.search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 42px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}
.search .icon::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid #fa4299;
    border-radius: 50%;
    transform: translate(-4px,-4px);
}
.search .icon::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: #fa4299;
    transform: translate(6px,6px) rotate(315deg);
}
.search .input{
    position: relative;
    width: 300px;
    height: 40px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 10px 0;
}
.clear{
    position:absolute;
    top: 40%;
    transform: translate(-50%);
    width: 15px;
    height: 9px;
    right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}
.clear::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}
 

