<!DOCTYPE html>
<html>
    <head>
        <title>Product</title>
        <link rel="stylesheet" type="text/css" href="product-style.css">
       <style>

       </style>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="imgBx">
                    <img src="img/Sanji.png">
                </div>
                <div class="contentBx">
                    <h2>Sanji</h2>
                    <div class="size">
                        <h3>Cost :</h3>
                        <span>30000đ</span>
                    </div>
                    <a href="#">Buy Now</a>
                    <a href="#">More</a>
                </div>
            </div>
        </div>
        <!-- <script>
            // var header = document.getElementsByClassName("color");
            var btns = document.getElementsByClassName("btn");
            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                if (current.length > 0) { 
                    current[0].className = current[0].className.replace(" active", "");
                }
                this.className += " active";
                });
}
        </script> -->
    </body>
</html>